# My name is Anand Bharti
In this lab, I am going to do segmentation of places of Patna city on the basis of features like shopping mall, gym, subway, and many more.
    First of all I had scrapped data from some property seeling online site. After that i extracted data of my choise from site using my HTML background.

Importing requests libraby

Using 'https://www.makaan.com/price-trends/property-rates-for-buy-in-patna' site, I am going to extract some useful data.

In [ ]:
import requests

In [ ]:
url = requests.get('https://www.makaan.com/price-trends/property-rates-for-buy-in-patna','html.parser').text

In [ ]:
print(url[0:5000])

<!doctype html> <html lang="en"><head><meta http-equiv="Content-type" content="text/html; charset=utf-8"><title>Property Rates in Patna - 2020 - Real Estate Property Price & Trends in Patna</title><meta name="description" content="2020 Property Rates in Patna - Search for residential property price & real estate trends & Compare area wise property rates across Patna. Check Property Index Patna on Makaan.com."><meta name="keywords" content="Property rates in Patna, Property trends in Patna, Patna property rates, Patna property rates area wise, Patna property price, real estate trends in Patna, Patna property rates sector wise"><meta name="theme-color" content="#fff" id="themeColor"><meta content="origin" name="referrer"><meta name="p:domain_verify" content="55ce01b3ca93c05fd5a41439a23dd0d9"><meta name="fb:pages" content="155462194517712"><meta name="country" content="India"><meta name="og:type" content="website"><meta name="og:site_name" content="Makaan.com"><meta name="og:image:url" content="http://static.makaan.com/6/44/355/patna-heroshot-2970771.jpeg"><meta name="viewport" content="minimum-scale=1.0, width=device-width, initial-scale=1.0, maximum-scale=5.0"><meta name="og:title" content="Property Rates in Patna - 2020 - Real Estate Property Price & Trends in Patna"><meta name="Author" content="Makaan.com"><meta name="robots" content="index, follow"><meta name="og:url" content="https://www.makaan.com/price-trends/property-rates-for-buy-in-patna"><meta name="googlebot" content="all"><meta name="og:description" content="2020 Property Rates in Patna - Search for residential property price & real estate trends & Compare area wise property rates across Patna. Check Property Index Patna on Makaan.com."><meta name="og:image:secure_url" content="https://static.makaan.com/6/44/355/patna-heroshot-2970771.jpeg"><link rel="preload" href="//static.makaan.com/scripts/vendor/require.min.js" as="script"><link rel="preload" href="//static.makaan.com/scripts/main.968df9f2.js" as="script"><link rel="preload" href="//static.makaan.com/scripts/infra.a7ac1784.js" as="script"><link rel="preload" href="//static.makaan.com/scripts/dependency/commonBundle.cbc8f6e0.js" as="script"><link rel="preload" href="//static.makaan.com/scripts/app.5aee80ee.js" as="script"><link rel="amphtml" href="https://www.makaan.com/lite/price-trends/property-rates-for-buy-in-patna"><meta name="twitter:card" content="summary"><meta name="twitter:site" content="@Makaan"><meta name="twitter:creator" content="@Makaan"><meta itemprop="name" content="Makaan"><meta itemprop="description" content="2020 Property Rates in Patna - Search for residential property price &amp; real estate trends &amp; Compare area wise property rates across Patna. Check Property Index Patna on Makaan.com."><meta itemprop="image" content="http://static.makaan.com/6/44/355/patna-heroshot-2970771.jpeg"><link rel="apple-touch-icon-precomposed" sizes="180x180" href="//static.makaan.com/apple-touch-icon-precomposed.png"><link rel="apple-touch-icon-precomposed" sizes="152x152" href="//static.makaan.com/apple-touch-icon-152x152-precomposed.png"><link rel="apple-touch-icon-precomposed" sizes="120x120" href="//static.makaan.com/apple-touch-icon-120x120-precomposed.png"><link rel="apple-touch-icon-precomposed" sizes="76x76" href="//static.makaan.com/apple-touch-icon-76x76-precomposed.png"><link rel="apple-touch-icon-precomposed" sizes="72x72" href="//static.makaan.com/apple-touch-icon-72x72-precomposed.png"><link rel="shortcut icon" href="//static.makaan.com/apple-touch-icon.png"><link href="//content.makaan.com" rel="preconnect"><link href="//www.google-analytics.com" rel="preconnect"><link href="//static.makaan.com" rel="preconnect"><link href="//static.makaan.com" rel="preconnect"><link href="https://www.makaan.com/price-trends/property-rates-for-buy-in-patna" rel="canonical"><link rel="alternate" hreflang="en" href="https://www.makaan.com/price-trends/property-rates-for-buy-in-patna"><link rel="alternate" hreflang="hi" href="https://www.makaan.com/hi-in/price-trends/property-rates-for-buy-in-patna"><link href="https://www.makaan.com/price-trends/property-rates-for-buy-in-patna?page=2" rel="next"><link rel="preload" href="//static.makaan.com/fonts/icomoon.ce5604b1.woff2" as="font" type="font/woff2" crossorigin><style>
.multiloclity-search-wrap .tag-wrap .srched-tag.no-close-tag:hover .close,.txtbtn.disabled,a.btn.disabled,fieldset[disabled] a.btn{pointer-events:none}body,figure{margin:0}hr,legend{margin-bottom:20px}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent;color:#337ab7;text-decoration:none}.img-thumbnail,body{background-color:#fff}a:active,a:hover{outline:0}b,strong{font-

Installing bs4 library for cleaning the html code

In [ ]:
!pip install bs4

Requirement already satisfied: bs4 in /usr/local/lib/python3.6/dist-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.6/dist-packages (from bs4) (4.6.3)

Importing BeautifulSoup from bs4 library

In [ ]:
from bs4 import BeautifulSoup as bs

In [ ]:
g_url = bs(url,'html.parser')

In [ ]:
table = g_url.find('table',{'class':'tbl'})

In [ ]:
print(table.text[0:2000])

Locality NameBuy Rates{"city":"Patna","typeAheadType":"locality","templatePath":"doT!modules/typeAhead/views/locality","rows":5,"includeGoogplePlace":true,"includeSuggestion":true,"placeholder":"search locality in patna"}Price range per sqftAvg price per sqftPrice riseTrendView propertiesBihta---See trendView  propertiesIIT BIHTA---See trendView  propertiesDanapur 1,231 - 4,191 / sqft 3,850.77 / sqft-34.7%See trendView 45 propertiesBailey Road 3,000 - 6,095 / sqft 5,469.04 / sqft20.2%See trendView 38 propertiesSaguna More 2,286 - 5,301 / sqft 4,275.39 / sqft-See trendView 36 propertiesDanapur Nizamat 3,167 - 8,333 / sqft 6,756.1 / sqft-See trendView 10 propertiesPhulwari Sharif 3,750 - 6,276 / sqft 4,591.95 / sqft10.9%See trendView 3 propertiesGola Road 3,443 - 8,191 / sqft 6,383.82 / sqft51.8%See trendView 17 propertiesBihta Road---See trendView  propertiesAIIMS Patna Road 3,750 - 4,553 / sqft 4,248.92 / sqft-See trendView 5 propertiesShivala Par---See trendView  propertiesAnisabad 3,721 - 4,725 / sqft 4,226.66 / sqft-38.4%See trendView 6 propertiesAnand Bazar Main Road---See trendView  propertiesRukanpura 4,627 - 6,563 / sqft 5,387.5 / sqft-See trendView 3 propertiesChirora---See trendView  propertiesKhagaul Road 2,286 - 8,837 / sqft 4,979.95 / sqft-4.3%See trendView 11 propertiesNaubatpur Bikram Road---See trendView  propertiesBihta Kanpa Road---See trendView  propertiesKumhrar--13.8%See trendView  propertiesSaguna Danapur Main Road 3,065 - 4,889 / sqft 4,852.05 / sqft-3.2%See trendView 9 propertiesShiwala Khagaul Road 2,384 - 2,525 / sqft 2,524.76 / sqft57.8%See trendView 2 propertiesAshiana Digha Road 3,770 - 5,909 / sqft 4,736.94 / sqft34.5%See trendView 4 propertiesBairiya 3,230 / sqft 3,230.15 / sqft-See trendView 1 propertiesKhagaul Danapur Road 3,488 - 5,382 / sqft 4,299.84 / sqft-2.9%See trendView 6 propertiesPatliputra Station Road 3,800 / sqft 3,800.14 / sqft-21.7%See trendView 1 propertiesPatliputra Colony 4,123 - 5,882 / sqft 4,644.15 / sqft21.3%See t

In [ ]:
type(table.text)

str

Importing pandas library for furthure cleaning.

In [ ]:
import pandas as pd

Creating a zero size dataframe of name patna_data to store my data

In [ ]:
 patna_data=pd.DataFrame({''})
patna_data

  0
0

Extracting useful data from HTML code.

In [ ]:
l=[]
k=[]
for a in table.findAll('tr',{}):
    for b in a.findAll('td',{'class':"ta-l"}):
      #print(b.text)
        l.append(b.text)
    for c in a.findAll('td',{'class':"ta-r"}):
      k.append(c.text)    
        
type(b.text)
patna_data = pd.DataFrame(l,columns=['borough'])
patna_data.head()

       borough
0        Bihta
1    IIT BIHTA
2      Danapur
3  Bailey Road
4  Saguna More

In [ ]:
patna_data['avg_price']=pd.DataFrame(k[1::2])
patna_data.head(10)

            borough         avg_price
0             Bihta                 -
1         IIT BIHTA                 -
2           Danapur   3,850.77 / sqft
3       Bailey Road   5,469.04 / sqft
4       Saguna More   4,275.39 / sqft
5   Danapur Nizamat    6,756.1 / sqft
6   Phulwari Sharif   4,591.95 / sqft
7         Gola Road   6,383.82 / sqft
8        Bihta Road                 -
9  AIIMS Patna Road   4,248.92 / sqft

**Installing geopandas and geopy for further use.**

In [ ]:
!pip install geopandas
!pip install geopy

Collecting geopandas
  Downloading https://files.pythonhosted.org/packages/f7/a4/e66aafbefcbb717813bf3a355c8c4fc3ed04ea1dd7feb2920f2f4f868921/geopandas-0.8.1-py2.py3-none-any.whl (962kB)
     |████████████████████████████████| 972kB 2.7MB/s
Requirement already satisfied: shapely in /usr/local/lib/python3.6/dist-packages (from geopandas) (1.7.0)
Collecting pyproj>=2.2.0
  Downloading https://files.pythonhosted.org/packages/e5/c3/071e080230ac4b6c64f1a2e2f9161c9737a2bc7b683d2c90b024825000c0/pyproj-2.6.1.post1-cp36-cp36m-manylinux2010_x86_64.whl (10.9MB)
     |████████████████████████████████| 10.9MB 17.0MB/s
Requirement already satisfied: pandas>=0.23.0 in /usr/local/lib/python3.6/dist-packages (from geopandas) (1.0.5)
Collecting fiona
  Downloading https://files.pythonhosted.org/packages/ec/20/4e63bc5c6e62df889297b382c3ccd4a7a488b00946aaaf81a118158c6f09/Fiona-1.8.13.post1-cp36-cp36m-manylinux1_x86_64.whl (14.7MB)
     |████████████████████████████████| 14.7MB 299kB/s
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->geopandas) (2018.9)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->geopandas) (1.18.5)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->geopandas) (2.8.1)
Requirement already satisfied: click<8,>=4.0 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (7.1.2)
Collecting click-plugins>=1.0
  Downloading https://files.pythonhosted.org/packages/e9/da/824b92d9942f4e472702488857914bdd50f73021efea15b4cad9aca8ecef/click_plugins-1.1.1-py2.py3-none-any.whl
Collecting munch
  Downloading https://files.pythonhosted.org/packages/cc/ab/85d8da5c9a45e072301beb37ad7f833cd344e04c817d97e0cc75681d248f/munch-2.5.0-py2.py3-none-any.whl
Collecting cligj>=0.5
  Downloading https://files.pythonhosted.org/packages/e4/be/30a58b4b0733850280d01f8bd132591b4668ed5c7046761098d665ac2174/cligj-0.5.0-py3-none-any.whl
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (1.15.0)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (19.3.0)
Installing collected packages: pyproj, click-plugins, munch, cligj, fiona, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.5.0 fiona-1.8.13.post1 geopandas-0.8.1 munch-2.5.0 pyproj-2.6.1.post1
Requirement already satisfied: geopy in /usr/local/lib/python3.6/dist-packages (1.17.0)
Requirement already satisfied: geographiclib<2,>=1.49 in /usr/local/lib/python3.6/dist-packages (from geopy) (1.50)

In [ ]:
from geopy.geocoders import Nominatim

In [ ]:
locator = Nominatim(user_agent="myGeocoder")
location = locator.geocode("Champ de Mars, Paris, France")
location1=locator.geocode('Patna Sahib, Patna, Bihar')

In [ ]:
print("Latitude = {}, Longitude = {}".format(location1.latitude, location1.longitude))

Latitude = 25.5859403, Longitude = 85.2306381

Now it is time to find latitude and longitude of given address with the help of suitable library.

In [ ]:
lat=[]
lon=[]
z=-1
patna_data_d=patna_data
for i in patna_data_d['borough']:
  z=z+1
  j=[i] + [' Patna'] + [' Bihar']
  k=','.join(j)
  location = locator.geocode(k)
  if location is not None: 
    #l1=location.latitude
    #l2=location.longitude
    lat.append(location.latitude)
    lon.append(location.longitude)
  else:
    patna_data.drop(z,inplace=True,axis=0)
patna_data['latitude'] = pd.DataFrame(lat)
patna_data['longitude'] = pd.DataFrame(lon)

In [ ]:
patna_data.reset_index(drop=True)

                    borough         avg_price   latitude  longitude
0                     Bihta                 -  25.561830  84.866519
1                 IIT BIHTA                 -  25.532534  84.851705
2                   Danapur   3,850.77 / sqft  25.635890  85.047404
3               Bailey Road   5,469.04 / sqft  25.610941  85.130365
4           Phulwari Sharif   4,591.95 / sqft  25.561830  84.866519
5                 Gola Road   6,383.82 / sqft  25.621772  85.097105
6                Bihta Road                 -  25.579679  85.042441
7          AIIMS Patna Road   4,248.92 / sqft  25.502662  84.865381
8              Khagaul Road   4,979.95 / sqft  25.610979  85.120865
9          Bihta Kanpa Road                 -  25.582352  85.047877
10                  Kumhrar                 -  25.644218  85.090734
11       Ashiana Digha Road   4,736.94 / sqft  25.597810  85.153732
12                  Bairiya   3,230.15 / sqft  25.612184  85.138570
13     Khagaul Danapur Road   4,299.84 / sqft  25.579679  85.042441
14  Patliputra Station Road   3,800.14 / sqft  25.660386  84.908940
15              Boring Road   5,572.16 / sqft  25.585940  85.230638
16            buddha colony    8,97.78 / sqft  25.527475  85.160422
17     Danapur Khagaul Road     4,40.4 / sqft  25.588931  85.172996
18                    digha    4,41.15 / sqft        NaN        NaN
19                  Sonepur                 -        NaN        NaN
20              jagdeo path   4,878.02 / sqft        NaN        NaN
21               kankarbagh   4,893.44 / sqft        NaN        NaN
22         Fraser Road Area   9,316.77 / sqft        NaN        NaN
23                  Khagaul   5,102.04 / sqft        NaN        NaN
24                    Maner                 -        NaN        NaN
25                 Mithapur   2,447.87 / sqft        NaN        NaN
26                   Punpun                 -        NaN        NaN
27              Patna Sahib   5,523.16 / sqft        NaN        NaN
28               Sampatchak                 -        NaN        NaN
29           Bhootnath Road                 -        NaN        NaN

Above is the DataFrame with latitude and longitude of address. As we can some rows do not any value in latitude and longitude column, so we have to drop them and make a new df.

In [ ]:
patna_data_secure=patna_data

In [ ]:
patna_data_secure.shape

(30, 4)

In [ ]:
patna_data=patna_data_secure
patna_data.head()

           borough         avg_price   latitude  longitude
0            Bihta                 -  25.561830  84.866519
1        IIT BIHTA                 -  25.532534  84.851705
2          Danapur   3,850.77 / sqft  25.635890  85.047404
3      Bailey Road   5,469.04 / sqft  25.610941  85.130365
6  Phulwari Sharif   4,591.95 / sqft  25.561830  84.866519

In [ ]:
patna_data=patna_data[patna_data.iloc[:,1]!='-']

In [ ]:
patna_data.reset_index(drop=True,inplace=True)

In [ ]:
# k=-1
# m='-'
# patna_data=patna_data_secure
# patna_data_dup=patna_data
# for i in patna_data_dup['avg_price']:
#   k=k+1
  
#   if i == m:
#     patna_data.drop(patna_data.index[k],inplace=True,axis=0)
#   print(patna_data.iloc[k])

In [ ]:
patna_data.head(10)

                   borough         avg_price   latitude  longitude
0                  Danapur   3,850.77 / sqft  25.635890  85.047404
1              Bailey Road   5,469.04 / sqft  25.610941  85.130365
2          Phulwari Sharif   4,591.95 / sqft  25.561830  84.866519
3                Gola Road   6,383.82 / sqft  25.621772  85.097105
4         AIIMS Patna Road   4,248.92 / sqft  25.502662  84.865381
5             Khagaul Road   4,979.95 / sqft  25.610979  85.120865
6       Ashiana Digha Road   4,736.94 / sqft  25.597810  85.153732
7                  Bairiya   3,230.15 / sqft  25.612184  85.138570
8     Khagaul Danapur Road   4,299.84 / sqft  25.579679  85.042441
9  Patliputra Station Road   3,800.14 / sqft  25.660386  84.908940

In [ ]:
patna_data1= patna_data.iloc[0:9]
patna_data1

                borough         avg_price   latitude  longitude
0               Danapur   3,850.77 / sqft  25.635890  85.047404
1           Bailey Road   5,469.04 / sqft  25.610941  85.130365
2       Phulwari Sharif   4,591.95 / sqft  25.561830  84.866519
3             Gola Road   6,383.82 / sqft  25.621772  85.097105
4      AIIMS Patna Road   4,248.92 / sqft  25.502662  84.865381
5          Khagaul Road   4,979.95 / sqft  25.610979  85.120865
6    Ashiana Digha Road   4,736.94 / sqft  25.597810  85.153732
7               Bairiya   3,230.15 / sqft  25.612184  85.138570
8  Khagaul Danapur Road   4,299.84 / sqft  25.579679  85.042441

Now it is time to show above address on map. Here I am using folium library for the that purpose.

In [ ]:
import folium

In [ ]:
map_patna = folium.Map(location=[25.612677,85.158875], zoom_start=10)

# add markers to map
for lat, lng, borough, neighborhood in zip(patna_data1['latitude'], patna_data1['longitude'],'Patna, Bihar',patna_data1['borough']):
    label = '{}, {}'.format(neighborhood, borough)
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color='blue',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7,
        parse_html=False).add_to(map_patna)  
    
map_patna

In [ ]:
patna_data

                    borough         avg_price   latitude  longitude
0                   Danapur   3,850.77 / sqft  25.635890  85.047404
1               Bailey Road   5,469.04 / sqft  25.610941  85.130365
2           Phulwari Sharif   4,591.95 / sqft  25.561830  84.866519
3                 Gola Road   6,383.82 / sqft  25.621772  85.097105
4          AIIMS Patna Road   4,248.92 / sqft  25.502662  84.865381
5              Khagaul Road   4,979.95 / sqft  25.610979  85.120865
6        Ashiana Digha Road   4,736.94 / sqft  25.597810  85.153732
7                   Bairiya   3,230.15 / sqft  25.612184  85.138570
8      Khagaul Danapur Road   4,299.84 / sqft  25.579679  85.042441
9   Patliputra Station Road   3,800.14 / sqft  25.660386  84.908940
10              Boring Road   5,572.16 / sqft  25.585940  85.230638
11            buddha colony    8,97.78 / sqft  25.527475  85.160422
12     Danapur Khagaul Road     4,40.4 / sqft  25.588931  85.172996
13                    digha    4,41.15 / sqft        NaN        NaN
14              jagdeo path   4,878.02 / sqft        NaN        NaN
15               kankarbagh   4,893.44 / sqft        NaN        NaN
16         Fraser Road Area   9,316.77 / sqft        NaN        NaN
17                  Khagaul   5,102.04 / sqft        NaN        NaN
18                 Mithapur   2,447.87 / sqft        NaN        NaN
19              Patna Sahib   5,523.16 / sqft        NaN        NaN

In [ ]:
# CLIENT_ID = '**************************' # your Foursquare ID
# CLIENT_SECRET = '*************************************' # your Foursquare Secret
# VERSION = '20180604'
# radius = 2000
# LIMIT = 100
# venues = []
# for lat,long, neighborhood in zip(patna_data1['latitude'], patna_data1['longitude'], patna_data1['borough']):
# # Create the API request URL
#   url="https://api.foursquare.com/v2/venues/explore?client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}".format(CLIENT_ID, CLIENT_SECRET, VERSION, lat, long, radius, LIMIT)
#   #url = https://api.foursquare.com/v2/venues/explore?client_id={"YXSTZ2XHS04MIRV43DUD31BJZQ4TQXQUD00TV5XNG1LVUGVD"}&client_secret={"03UON50NSPGEYH3SN142OG41ONO3AL1H5M2KRMH4BDEPJL4Q"}&ll={lat},{longi}&v={'20180604'}&radius={2000}&limit={100}
#   # Make the GET request
#   results =(requests.get(url).json()["response"]['groups'][0]['items'])
#   print(results)
# # Return only relevant information for each nearby venue
# for venue in results:
#     venues.append((neighborhood,lat,long,venue['venue']['name'],
#     venue['venue']['location']['lat'],venue['venue']['location']['lng'],venue['venue']['categories'][0]['name']))

Now we have address and latitude and longitude data, so what next is to get neighborhood data of address like gym, shoping mall, resturent, etc. For this purpose I am using foursquare API because google map API is too costly to handle :).

In [ ]:
CLIENT_ID = 'JNFRPNN3X3RC5LU1RTYFB1LSIGJQQB34D0HNYJNVURDSI5RR' # your Foursquare ID
CLIENT_SECRET = '3X4WXAAEDJVAFUS4LNE0T21CK0Z2PBUPBLI2H2ENEPL5GYOP' # your Foursquare Secret
VERSION = '20180604'
radius = 2000
LIMIT = 100
venues = []
results = []
for lat, long, neighborhood in zip(patna_data1['latitude'], patna_data1['longitude'], patna_data1['borough']):
# Create the API request URL
  url = "https://api.foursquare.com/v2/venues/explore?client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}".format(CLIENT_ID,CLIENT_SECRET,VERSION,lat,long,radius,LIMIT)
# Make the GET request
  results =(requests.get(url).json()["response"]['groups'][0]['items'])
# Return only relevant information for each nearby venue
  for venue in results:
    venues.append((neighborhood,lat,long,venue['venue']['name'],
    venue['venue']['location']['lat'],venue['venue']['location']    ['lng'],venue['venue']['categories'][0]['name']))

In [ ]:
venues_df = pd.DataFrame(venues)
# Defining the column names
venues_df.columns = ['Neighborhood', 'Latitude', 'Longitude', 'VenueName', 'VenueLatitude', 'VenueLongitude', 'VenueCategory']
print(venues_df.shape)
venues_df.head(20)

(62, 7)

   Neighborhood   Latitude  ...  VenueLongitude           VenueCategory
0       Danapur  25.635890  ...       85.053604       Accessories Store
1       Danapur  25.635890  ...       85.041267                     ATM
2       Danapur  25.635890  ...       85.059658                     ATM
3       Danapur  25.635890  ...       85.043679  Furniture / Home Store
4   Bailey Road  25.610941  ...       85.145020                    Park
5   Bailey Road  25.610941  ...       85.129402               Juice Bar
6   Bailey Road  25.610941  ...       85.143276               Hotel Bar
7   Bailey Road  25.610941  ...       85.135739      Chinese Restaurant
8   Bailey Road  25.610941  ...       85.124934    Fast Food Restaurant
9   Bailey Road  25.610941  ...       85.119204     American Restaurant
10  Bailey Road  25.610941  ...       85.142945             Pizza Place
11  Bailey Road  25.610941  ...       85.125937                   Hotel
12  Bailey Road  25.610941  ...       85.140935       Indian Restaurant
13  Bailey Road  25.610941  ...       85.129478                   Hotel
14  Bailey Road  25.610941  ...       85.142218                   Hotel
15  Bailey Road  25.610941  ...       85.148861                    Café
16  Bailey Road  25.610941  ...       85.117299        Department Store
17  Bailey Road  25.610941  ...       85.137091           Train Station
18  Bailey Road  25.610941  ...       85.121605                    Café
19  Bailey Road  25.610941  ...       85.117228                  Bakery

[20 rows x 7 columns]

In [ ]:
# Lets check how many venues were returned for each neighbourhood
venues_df.groupby(["Neighborhood"]).count()
# Lets check out how many unique categories can be curated from all the returned values
print('There are {} unique categories.'.format(len(venues_df['VenueCategory'].unique())))
#There are 174 unique categories
# Displaying the first 50 Venue Category names
venues_df['VenueCategory'].unique()[:50]

There are 22 unique categories.

array(['Accessories Store', 'ATM', 'Furniture / Home Store', 'Park',
       'Juice Bar', 'Hotel Bar', 'Chinese Restaurant',
       'Fast Food Restaurant', 'American Restaurant', 'Pizza Place',
       'Hotel', 'Indian Restaurant', 'Café', 'Department Store',
       'Train Station', 'Bakery', 'Clothing Store', 'Shopping Mall',
       'Multiplex', 'Gym / Fitness Center', "Men's Store",
       'Tourist Information Center'], dtype=object)

In [ ]:
# One hot encoding
kl_onehot = pd.get_dummies(venues_df[['VenueCategory']], prefix="", prefix_sep="")
# Adding neighborhood column back to dataframe
kl_onehot['Neighborhoods'] = venues_df['Neighborhood']
# Moving neighbourhood column to the first column
fixed_columns = [kl_onehot.columns[-1]] + list(kl_onehot.columns[:-1])
kl_onehot = kl_onehot[fixed_columns]
print(kl_onehot.shape)

(62, 23)

Now we have neighbour address now we need to group them together.

In [ ]:
kl_grouped=kl_onehot.groupby(["Neighborhoods"]).sum().reset_index()
print(kl_grouped.shape)
kl_grouped

(8, 23)

          Neighborhoods  ATM  ...  Tourist Information Center  Train Station
0    Ashiana Digha Road    0  ...                           0              1
1           Bailey Road    0  ...                           0              1
2               Bairiya    0  ...                           0              1
3               Danapur    2  ...                           0              0
4             Gola Road    0  ...                           0              0
5  Khagaul Danapur Road    0  ...                           1              0
6          Khagaul Road    0  ...                           0              1
7       Phulwari Sharif    0  ...                           0              1

[8 rows x 23 columns]

In [ ]:
# Creating a dataframe for Shopping Mall data only
kl_mall = kl_grouped[["Neighborhoods","Shopping Mall"]]

I am going to cluster them with the help of scikit learn library.

In [ ]:
from sklearn.cluster import KMeans
# Setting the number of clusters
kclusters = 3
kl_clustering = kl_mall.drop(["Neighborhoods"], 1)
# Run k-means clustering algorithm
kmeans = KMeans(n_clusters=kclusters,random_state=0).fit(kl_clustering)
# Checking cluster labels generated for each row in the dataframe
kmeans.labels_[0:10]
# array([0, 0, 0, 1, 0, 1, 1, 0, 0, 0], dtype=int32)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: ConvergenceWarning: Number of distinct clusters (2) found smaller than n_clusters (3). Possibly due to duplicate points in X.

array([1, 1, 1, 1, 0, 1, 1, 1], dtype=int32)

In [ ]:
# Creating a new dataframe that includes the cluster as well as the top 10 venues for each neighborhood.
kl_merged = kl_mall.copy()
# Add the clustering labels
kl_merged["Cluster Labels"] = kmeans.labels_
kl_merged.rename(columns={"Neighborhoods": "Neighborhood"}, inplace=True)
kl_merged.head(10)

           Neighborhood  Shopping Mall  Cluster Labels
0    Ashiana Digha Road              0               1
1           Bailey Road              0               1
2               Bairiya              0               1
3               Danapur              0               1
4             Gola Road              1               0
5  Khagaul Danapur Road              0               1
6          Khagaul Road              0               1
7       Phulwari Sharif              0               1

In [ ]:
k1_df = patna_data1
# Adding latitude and longitude values to the existing dataframe
kl_merged['Latitude'] = patna_data1['latitude']
kl_merged['Longitude'] = patna_data1['longitude']
# Sorting the results by Cluster Labels
kl_merged.sort_values(["Cluster Labels"], inplace=True)
kl_merged

           Neighborhood  Shopping Mall  Cluster Labels   Latitude  Longitude
4             Gola Road              1               0  25.502662  84.865381
0    Ashiana Digha Road              0               1  25.635890  85.047404
1           Bailey Road              0               1  25.610941  85.130365
2               Bairiya              0               1  25.561830  84.866519
3               Danapur              0               1  25.621772  85.097105
5  Khagaul Danapur Road              0               1  25.610979  85.120865
6          Khagaul Road              0               1  25.597810  85.153732
7       Phulwari Sharif              0               1  25.612184  85.138570

In [ ]:
import numpy as np
import matplotlib.cm as cm

# Creating the map
latitude = 25.502662
longitude = 84.865381
map_clusters = folium.Map(location=[latitude, longitude], zoom_start=11)
# Setting color scheme for the clusters
x = np.arange(kclusters)
ys = [i+x+(i*x)**2 for i in range(kclusters)]
colors_array = cm.rainbow(np.linspace(0, 1, len(ys)))

# Adding markers to the map
markers_colors = []
for lat, lon, poi, cluster in zip(kl_merged['Latitude'], kl_merged['Longitude'], kl_merged['Neighborhood'], kl_merged['Cluster Labels']):
  label = folium.Popup(str(poi) + ' - Cluster ' + str(cluster), parse_html=True)
  folium.CircleMarker([lat,lon],radius=5,popup=label,fill=True,fill_opacity=0.7).add_to(map_clusters)
map_clusters